*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}


body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0px;
    padding: 0px;
    display: flex; /* seta o displa do container como flex que por padrão posiciona os elementos internos em linha (row) , fazendo com que cada componentes ocupe o espaço necessário. */
    justify-content: center; /* alinhamento  horizontal dos componentes */
}

.instagram-wrapper{
    display: flex;
    align-items: center; /* alinhamento vertical dos componentes */
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue{
    display: flex;
    flex-direction: column; /* alterando eixo do display flex para coluna (um item vai ficar debaixo do outro) */
    align-items: center;
    justify-content: space-around;
    width: 50%;
    min-height: 34rem; 
}

.group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    margin: 1.3rem 0;
    border: 1px solid lightgray;
}

/* nth-child pega os filhos do componentes, como parâmetro é passado qual filho vc quer manipular , no caso abaixo estou pegando o primeiro filho */
.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; /* para a imagem não vazar para fora dos limites da div, a parte vazada fica escondida (hidden) */ 
    height: 8rem;
    margin: 1.3rem 0;
}

.profile-photo img{
    height: 12rem;
}

.instagram-login {
    color: #0095f6;
    background-color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160,160,160);
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1.3rem 0;
}

.get-app{
    font-weight: bold;
}

.download{
    display: flex;
    justify-content: space-evenly; /* mesmo espaçamento nos lados e no meio do componentes */
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url("./../img/apple-button.png");
}

.app-download:nth-child(2){
    background-image: url("./../img/googleplay-button.png");
}

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    body{
        background-color: #fff;
    }

    .group{
        border: 1px solid transparent;
    }

    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }
}


